

<!-- edit -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Selected Data</h5>
            </div>
            <div class="modal-body" *ngFor="let row of editRowdata">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" #name [value]="row.admin_name">
                    </div>
                    <input type="hidden" class="form-control" #idhidden [value]="row.id">

                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label"> Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" #mobile [value]="row.admin_mobile">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label"> Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" #email [value]="row.admin_email">

                    </div>


                </div>
                <button type="button" class="btn btn-primary"
                    (click)="update(idhidden.value,name.value,mobile.value,email.value)">Save
                    changes</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<!-- your-component.component.html -->
<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-4">
              <div class="show-entries">
                <span>Show</span>
                <select [formControl]="itemsPerPageControl" >
                    <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
                  </select>
                <span>entries</span>
              </div>
            </div>
            <div class="col-sm-4">
              <h2 class="text-center">Customer <b>Details</b></h2>
            </div>
            <!-- <div class="col-sm-4">
              <div class="search-box">
                <div class="input-group">
                  <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                  <input type="text" class="form-control" placeholder="Search&hellip;">
                </div>
              </div>
            </div> -->
            <div class="col-sm-2">

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Choose File</h5>
                            </div>
                            <div class="modal-body">
                                <div class="file-upload-container mb-25">
                                    <h2>File Upload</h2>
                                    <form>
                                        <div class="form-group">
                                            <label for="fileInput">Choose a file:</label>
                                            <input type="file" name="fileInput" class="cursor-pointer"
                                                (change)="uploadFileselected($event)" accept=".csv"
                                                [ngModel]="selectedFile" required #fileInput="ngModel">

                                            <br>
                                            <br>
                                            <div *ngIf="fileInput.invalid && (fileInput.dirty || fileInput.touched)"
                                                class="alert alert-danger mt-25">
                                                <div *ngIf="fileInput.errors">File is required.</div>
                                            </div>
                                        </div>
                                        <button class="btn-primary cursor-pointer" type="submit"
                                            (click)="submit()">Upload</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Add</button> -->
                            </div>
                        </div>
                    </div>
                </div>


                <button type="button" class="btn btn-info add-new" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="fa fa-plus"></i> Add CSV
                </button>

            </div>
          </div>
        </div>
        <table class="table table-bordered">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let i = index">
                        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                        <td>{{ employee.admin_name }}</td>
                        <td>{{ employee.admin_mobile }}</td>
                        <td>{{ employee.admin_email }}</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal1" class="edit" title="Edit"
                                data-toggle="tooltip" (click)="editRow(employee.id)">
                                <i class="material-icons">&#xE254;</i>
                            </a>
                            <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteRow(employee.id)">
                                <i class="material-icons">&#xE872;</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>{{ (currentPage - 1) * itemsPerPage + 1 }}</b>
              to <b>{{ calculateMin(currentPage * itemsPerPage, employees.length) }}
            </b> of <b>{{ employees.length }}</b> entries
            </div>
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="onPageChange(currentPage - 1)" href="#">Previous</a>
              </li>
              <li class="page-item" *ngFor="let page of getPageArray()" [class.active]="currentPage === page">
                <a class="page-link" (click)="onPageChange(page)" href="#">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                <a class="page-link" (click)="onPageChange(currentPage + 1)" href="#">Next</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  